@model IEnumerable<TestShopApp.Models.Item>
<div style="text-align: center" id="itemsTable">
    @*<h3 style="text-align: center">Objects table</h3>*@
     <div style="height: 50px; width: 500px" class="alert alert-warning">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <strong>Предупреждение!</strong> Zero results
     </div>
</div>